<!DOCTYPE html>

<html>

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600,700" rel="stylesheet">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Climate Courage - Andreas Karelas</title>
<meta name="description" content="Climate Courage">
<link rel="icon" href="../../static/images/climatecourage-img/revolvorange.png" type="image/png">
<link href="../../static/css/climatecourage-css/styles.min.css" rel="stylesheet">
<link href="../../static/css/climatecourage-css/main.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
</head>
<body>


<section class="hero" id="Home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="logo"> 
          <a href="/"><img src="../../static/images/climatecourage-img/book-cover/revolvorangelogo.png" alt="site name"> </a> 
        </div>
      </div>
    </div>
    <div class="row" data-0="opacity: 1" data-800="opacity: 0">
      <div class="col-md-7"> 
        <!--welcome message-->
        <header class="welcome-message">
          <h1>Climate Courage</h1>
          <h2>More Americans care about climate change than we think--but in order to unite across the political spectrum around solutions, we need a bold, courageous new narrative about creating a sustainable world focused on a brighter tomorrow.
          </h2>
        </header>
        <!--welcome message end--> 
        
        <!--action button-->
        <div class="action-button"> <a href="#Author" class="button learn-more text-center">Learn More </a> <a href="#Features" class="button buy text-center">Pre-order </a>
          <p>*Avaliable in Audiobook & Kindle.</p>
        </div>
        <!--action button end--> 
        
      </div>
      <div class="col-md-5 text-center"> <img src="../../static/images/climatecourage-img/book-cover/climatecouragecover.jpg" alt="climatecouragebook" class="book-cover" data-no-retina> </div>
    </div>
  </div>
</section>
<!--Hero section end--> 

<section class="hero" id="Home" style="background: whitesmoke;">
  <div class="container">
    <div class="row" data-0="opacity: 1" data-800="opacity: 0">
      <div class="col-md-12"> 
        <header class="welcome-message">
          <h1 style="font-size:40px; text-align: center;">Climate Courage Book Launch Event</h1>
          <h2>On <strong>September 29th</strong> at 4pm Eastern Time, 1pm Pacific Time , <strong>Katharine Hayhoe</strong>, <strong>Bill McKibben</strong> and <strong>Andreas Karelas</strong>, will connect over Zoom for a round table discussion about the themes of Climate Courage, and the incredible importance of the moment we're in. What we do now to affect the climate crisis will reverberate for generations to come.</h2>
        </header>
        <div class="action-button" style="text-align: center !important;"> <a href="http://climatecourage.eventbrite.com" class="button learn-more text-center" target="_blank" rel="noopener noreferrer">Register Here</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="features section-spacing text-center" id="Features">
  <div class="container">
    <header>
      <h2 style="text-transform: capitalize;">Book vendors</h2>
      <h3>Available now for Pre-order</h3>
    </header>
    <div class="row">
      <div class="col-sm-4"> <img src="../../static/images/climatecourage-img/book-cover/amazon.png" data-at2x="../../static/images/climatecourage-img/feature-1@2x.png" alt="features">
 
        <hr>
        <div class="action-button"> <a href="https://www.amazon.com/dp/0807084883/" class="button learn-more text-center" target="_blank" rel="noopener noreferrer">Learn More </a> 
          <p>*Avaliable in Audiobook &amp; Kindle.</p>
        </div>
      </div>
      <div class="col-sm-4"> <img src="../../static/images/climatecourage-img/book-cover/barnesnoble.png" data-at2x="../../static/images/climatecourage-img/feature-2@2x.png" alt="features">
  
        <hr>
        <div class="action-button"> <a href="https://www.barnesandnoble.com/w/1133598908" class="button learn-more text-center" target="_blank" rel="noopener noreferrer">Learn More </a> 
        
        </div>
      </div>
      <div class="col-sm-4"> <img src="../../static/images/climatecourage-img/book-cover/bookshop.png" data-at2x="../../static/images/climatecourage-img/feature-3@2x.png" alt="features">
     
        <hr>
        <div class="action-button"> <a href="https://bookshop.org/books/climate-courage-how-tackling-climate-change-can-build-community-transform-the-economy-and-bridge-the-political-divide-in-america/9780807084885"
          class="button learn-more text-center" target="_blank" rel="noopener noreferrer">Learn More </a>
       
        </div>
      </div>
    </div>
    <div class="row" style="display: flex; align-items: center; justify-content: center;">
      <div class="col-sm-4"> <img src="../../static/images/climatecourage-img/book-cover/indiebound.png" data-at2x="../../static/images/climatecourage-img/feature-4@2x.png" alt="features">
   
        <hr>
        <div class="action-button"> <a href="https://www.indiebound.org/book/9780807084885" class="button learn-more text-center" target="_blank" rel="noopener noreferrer">Learn More </a> 
         
        </div>
      </div>
      <div class="col-sm-4"> <img src="../../static/images/climatecourage-img/book-cover/beacon.png" data-at2x="../../static/images/climatecourage-img/feature-5@2x.png" alt="features">
     
        <hr>
        <div class="action-button"> <a href="http://www.beacon.org/Climate-Courage-P1607.aspx" class="button learn-more text-center" target="_blank" rel="noopener noreferrer">Learn More </a> 

        </div>
      </div>

    </div>
  </div>
</section>

<!--Author-->

<section class="author section-spacing" id="Author">
  <div class="container">
    <header class="text-center">
      <h2>About Author</h2>
    </header>
    <div class="row">
      <div class="col-md-5 text-center"> <img src="../../static/images/climatecourage-img/book-cover/andreas.png" data-at2x="../../static/images/climatecourage-img/author@2x.jpg" alt="author" class="author-img"> </div>
      <div class="col-md-7">
        <h4>Andreas</h4>
        <hr>
        <p>Andreas Karelas brings an optimistic message that we don't often hear about: we have all the tools we need to solve the climate crisis and we're already building momentum. Climate Courage recognizes that people, not politics, are the agents of change that can create a more sustainable, equitable economy. But to engage people in climate solutions, we need a new way of framing the problem that's empowering rather than fear based. We can move past our collective despair and inaction if we work together in our communities towards a better vision of the future based on shared American values.</p>
        <p>Climate Courage highlights the bright spots in the climate fight and the stories of people of various political stripes finding common ground. Emphasizing the rate of job creation in the clean energy economy and the work of climate heroes on both sides of the aisle--including Republican mayors and governors, the military, faith communities, businesses, and community groups--Karelas shows us that climate solutions need not be polarizing. Americans from all walks of life will find inspiration and insights to build trust and heal the divide between red and blue America by connecting with each other and rediscovering the importance of gratitude, simplicity, and service in living fulfilling, meaningful lives.</p>

        
        <!--social-->
        <div class="social">
          <ul>
            <li><a href="https://twitter.com/RE_volv" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/solarseedfund/" target="_blank"><i class="fab fa-facebook"></i></a></li>
          </ul>
        </div>
        <!--social end--> 
        
      </div>
    </div>
  </div>
</section>

<footer class="site-footer section-spacing">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="scroll-top"><a href="#"><i class="fa fa-chevron-up"></i></a></p>
        <small>&copy; Copyright Andreas Karelas. All Rights Reserved.</small>
      </div>
    </div>
  </div>
</footer>

<script src="../../static/js/climatecourage-js/jquery.ajax.min.js"></script> 
<script src="../../static/js/climatecourage-js/main.js"></script> 

</body>


</html>
