{% extends "base/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load wagtailimages_tags %}

{% block head %}

<!-- -->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLEMAPS_API_KEY }}">
</script>

<script src="{% static 'js/base/homeAnimations.js' %}?version={{ version_number }}"></script>
  
<script src="https://jawj.github.io/OverlappingMarkerSpiderfier/bin/oms.min.js" async></script>
  
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css'>

<link rel='stylesheet' href='https://unpkg.com/leaflet@1.0.3/dist/leaflet.css'>
<link rel='stylesheet' href='https://unpkg.com/leaflet.markercluster@1.0.5/dist/MarkerCluster.css'>
<link rel='stylesheet' href='https://unpkg.com/leaflet.markercluster@1.0.5/dist/MarkerCluster.Default.css'>

<link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/tooltipster@4.2.6/dist/css/tooltipster.bundle.min.css" />
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css'>


<link href="{% static 'css/eduresource-css/style.css' %}?version={{ version_number }}" rel="stylesheet" />

<style>
a {
  outline:none !important;
}
.popup-youtube {
  .youtube-click {
    outline:none;
    width: 50px;
    heignt: 50px;
  }
}
.bnr-cntr {
  padding: 200px 0px;
}
.card-body {
  min-height: 472px;
}
</style>
{% endblock %}

{% block body %}
    <main role="main" class="container-fluid">
      <div class="container-fluid alternate" id="top-section">
        <div class="overlay"></div>
        <video playsinline autoplay muted loop>
          <source src="https://res.cloudinary.com/dkwon4bkk/video/upload/images/home-img/Banner_video2.mp4" type="video/mp4">
            
        </video>
        <div class="row text-center">
          <div class="col hero-text align-self-end">
            <h1 class="text-light">Help <span class="txt-rotate fw-700" data-period="2000" data-rotate='[ "Nonprofits", "Schools", "BIPOC", "Shelters", "Churches", "Synagogues", "Food Banks", "VFWs" ]'>Nonprofits</span> Go Solar</h1>
          </div>
        </div>
      </div>
      <div class="container-fluid" id="second-section" style="margin-top:0px; padding:0px;">
        <div class="scroll-section">
          <div class="scroll-icon">
            <img class="scroll-arrow bouncing" src="https://res.cloudinary.com/dkwon4bkk/image/upload/images/home-img/scroll-icon.png">
          </div>
        </div>
        <div class="row justify-content-center align-items-center h-75">
          <div class="col-sm-12 col-md-10 col-lg-8 text-center">
            <h2 class="purple-text fw-300 mb-5">There are roughly 1.5 million nonprofits in the United States that face major barriers to getting their solar projects financed. <br><span class="fw-700">You can change that.</span></h2>
            <a class="btn btn-orange btn-lg btn-arrow-white mx-2 my-2" href="/about-us/re-volv/" role="button">Learn More</a>
            <a class="btn btn-blue btn-lg btn-arrow-orange mx-2 my-2" href="/get-involved/apply/" role="button">Sign up a nonprofit</a>
          </div>
        </div>
      </div>
      <div class="container" id="section-three">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 co-md-10 col-lg-10">
            <div class="row align-items-center">
              <div class="col-sm-12 col-md-5 text-right">
                <h1 class="orange-text">How it works</h1>
                <p class="darken-text fw-300 mb-4">You can help nonprofits across the country immediately save money on their electricity bills by going solar. Saving money means they can better serve their communities, while the remaining energy savings are reinvested into future solar projects. We call this the Solar Seed Fund – a one-of-a-kind, pay-it-forward revolving fund for solar for nonprofits.</p>
                <a class="btn btn-blue btn-me btn-arrow-orange mx-2" href="/monthly_donor/" role="button">PLANT A SEED</a>
              </div>
              <div class="col-sm-12 col-md-7">
                <video autoplay loop muted id="gif-col">
                  <source src="https://res.cloudinary.com/dkwon4bkk/video/upload/images/home-img/animation.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid" id="section-four"
        style="margin-top:0px !important; padding: 100px 0px 100px 0px !important;">
        <div class="col-sm-12 co-md-12 col-lg-12 text-center container">
          <h1 class="text-white fw-5">Investment Opportunity</h1>
          <p class="text-white fw-400" style="max-width: 700px; margin: 0 auto !important;"><a class="col-md-6 image clean-enrgy-colzx" data-tooltip-content="#tooltip-1" style="max-width: 400px; padding:20px 0px 20px 0px; color:#CAE4F1; text-decoration: underline;">RE-volv</a>
            &nbsp;works to provide solar energy access to those that are excluded from the benefits of the clean
            energy economy. RE-volv is currently raising $10 Million through
            <a class="col-md-6 image clean-enrgy-colzx" data-tooltip-content="#tooltip-2"
              style="max-width: 400px; padding:20px 0px 20px 0px; color:#CAE4F1; text-decoration: underline;">Recoverable
              Grants</a>
            &nbsp;from impact investors through <a class="col-md-6 image clean-enrgy-colzx" data-tooltip-content="#tooltip-3"
            style="max-width: 400px; padding:20px 0px 20px 0px; color:#CAE4F1; text-decoration: underline;">two investment options</a> to scale our proven model of solar finance for community-serving nonprofit organizations across the United States.
          </p>

          <h4 style="text-align: center; margin-top: 30px; color: white !important;"> Sign up to Receive More Information Below</h4>
          <div style="margin-top: -440px !important;">
            <iframe src="https://www.cognitoforms.com/f/o_n8-oHQCUC-10BCk9BpSA?id=8"
              style="width:1px;min-width:100%;*width:100%;" frameborder="0" scrolling="no" seamless="seamless"
              height="300" width="100%"></iframe>
            <script src="https://www.cognitoforms.com/scripts/embed.js"></script>
          </div>     
        </div>
      </div>
  
      <div class="row justify-content-center align-items-center" style="background:orange;">
        <div class="col-sm-12 co-md-12 col-lg-12">
          <div class="row align-items-center">
            <div class="col-sm-12 col-md-12 text-center text-white my-2">
              <div class="row justify-content-center"> 
                  <p class="fw-700 my-4 mx-4">Find out how RE-volv is declaring solidarity and commitment to racial justice and equity in America</p>
                  <a class="btn btn-blue btn-me mx-2 my-2" href="blog-center/articles/solidarity/" role="button" style="height: 100%;">Our Response</a>
              </div>
            </div>    
            </div>
        </div>
      </div>
      
      <div class="container-fluid" id="section-four" style="margin-top:0px;">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 co-md-10 col-lg-10">
            <div class="row text-center">
              <div class="col-sm-12 mb-3">
                <h1 class="text-white">Our Impact</h1>
              </div>
            </div>
            <div class="row" style="justify-content: center;">
              <div class="col-sm-12 col-md-2 no-gutter">
                <div class="impact-col">
                  <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/images/home-img/invest-img.png">
                  <h4 class="lblue-text fw-700">$ 10 million</h4>
                  <p class="fw-700">DOLLARS <br/> INVESTED</p>
                </div>
              </div>
              <div class="col-sm-12 col-md-2 no-gutter">
                <div class="impact-col">
                  <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/images/home-img/ambassador-img.png">
                  <h4 class="lblue-text fw-700">282</h4>
                  <p class="fw-700">SOLAR AMBASSADORS<br/> TRAINED</p>
                </div>
              </div>
              <div class="col-sm-12 col-md-2 no-gutter">
                <div class="impact-col">
                  <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/v1604290727/images/home-img/solar-state.png">
                  <h4 class="lblue-text fw-700">10</h4>
                  <p class="fw-700">STATES <br> WITH NONPROFIT <br/> SOLAR PROJECTS</p>
                </div>
              </div>
              <div class="col-sm-12 col-md-2 no-gutter">
                <div class="impact-col">
                  <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/images/home-img/solar-img.png">
                  <h4 class="lblue-text fw-700">{{ global_impacts.num_projects }}</h4>
                  <p class="fw-700">NONPROFIT <br> SOLAR PROJECTS<br/> FUNDED</p>
                </div>
              </div>
              <div class="col-sm-12 col-md-2 no-gutter">
                <div class="impact-col">
                  <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/images/home-img/team-img.png">
                  <h4 class="lblue-text fw-700">{{ global_impacts.num_people_affected |floatformat:"0"|intcomma }}</h4>
                  <p class="fw-700">COMMUNITY<br /> MEMBERS IMPACTED</p>
                </div>
              </div>
              <div class="col-sm-12 col-md-2 no-gutter">
                  <div class="impact-col">
                    <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/images/home-img/co-2-img.png">
                    <h4 class="lblue-text fw-700">181 million lbs</h4>
                    <p class="fw-700">CO<sub>2</sub><br/> AVOIDED</p>
                  </div>
              </div>
            </div>
          </div>
          {% if fund_main_active_projects|length == 0 %} {% endif %}
        </div>
      </div>
      {% if fund_main_active_projects|length == 0 %}
      {% else %}

      <div class="container-fluid" id="section-five" style="display:none; visibility: hidden;">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 co-md-12 col-lg-10 text-center">
            <h1 class="blue-text fw-300 mb-5">Active Solar Seed Fund Campaigns</h1>
            <div class="line-section mb-5">
              <div class="line-center"></div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center align-items-center mt-5">
          <div class="col-sm-12 co-md-12 col-lg-10 px-3">
            <div class="campaign-list">
              <!--Campaign one-->
              {% for fund_active_project in fund_main_active_projects %}
              <div class="campaign-col">
                <a href="{% url "project:view" title=fund_active_project.project_url %}">
                  <div class="img-container" style="background-image:url('{{MEDIA_URL}}{{fund_active_project.cover_photo.url }}' ); background-repeat: no-repeat; background-size: 100%;"></div>
                </a>

                <div class="campaign-text">
                  <h5>{{ fund_active_project.title }}</h5>
                  <ul class="progress-text">
                    <li class="current-progress">{{ fund_active_project.percent_complete }}%</li>
                    <li class="target-progress">${{ fund_active_project.amount_donated |floatformat:"0"|intcomma}} <span>of</span> {{ fund_active_project.funding_goal|floatformat:0|intcomma }}</li>
                  </ul>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ fund_active_project.percent_complete }}%;" 
                    aria-valuenow="{{ fund_active_project.percent_complete }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="w-100"></div>
                  <a class="btn btn-blue btn-me btn-arrow-orange mt-4" href="{% url "project:view" title=fund_active_project.project_url %}" role="button">Learn More</a>
                </div>
              </div>
              <!--Campaign one end-->
              {% endfor %}
            </div> 
          </div>
        </div>
      </div>
      {% endif %}

      <div id="map" style="height: 700px; width:100%;"></div>

      <form id="form1" name="form1" class="wufoo  page" autocomplete="off" enctype="multipart/form-data" novalidate>
        <span id="newsletter-anchor"></span>
        {% csrf_token %}
        <div class="container-fluid" id="section-six">
          <div class="row justify-content-center align-items-center section-six-row">
            <div class="col-sm-12 co-md-12 col-lg-10">
              <div class="row align-items-center">
                <div class="col-sm-12 col-md-5 text-right text-white">
                  <h2 class="fw-700 mb-3">Newsletter Signup</h2>
                  <p class="fw-300">By subscribing to our mailing list you will always be updated with the latest news from us.</p>
                </div>


                <div class="col-sm-12 col-md-7">
                  <div class="input-group mb-3 subscription-form inputs">
                      <input class="form-control" id="Field0" name="email" type="email" spellcheck="false" value="" maxlength="255" tabindex="1" placeholder="Enter your email address" required>
                      <div class="input-group-append">
                      <button class="btn btn-blue newsletter-signup btn-sign-up" type="button" style="height: 100%;">Sign up</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="wrapper mt-5">
        <div class="col-md-12 hdr-text" style="text-align: center;">
          <h1 class="blue-text fw-300 mb-5">RE-volv Annoucements</h1>
        </div>
        <div class="carousel">
        <div>
          <div class="card">
            <div class="ribbon-wrapper">
              <div class="ribbon green">Event</div>
            </div>
            <div class="card-header">
              <img
                src="https://res.cloudinary.com/dkwon4bkk/image/upload/c_scale,h_328,w_328/v1608276577/images/edu-media-img/iplbanner.jpg">
            </div>
            <div class="card-body">
              <div class="card-content">
                <div class="card-title">Solar Celebration: IPL virtual ribbon cutting!</div>
                <div class="card-text">
                  <p>Please join California Interfaith Power & Light and RE-volv for a virtual ribbon cutting celebrating San Francisco Bay Area congregations that have gone solar in 2020 including two projects built by RE-volv: <a href="https://re-volv.org/project/hopeunited/" target="_blank" rel="noopener noreferrer">Hope United Methodist Church</a> in South San Francisco, and <a href="https://re-volv.org/project/netivotshalom/" target="_blank" rel="noopener noreferrer">Congregation Netivot Shalom</a>, in Berkeley! 
                    We hope to see you for an inspiring program that will encourage all of us to take climate action and continue to harness the light in 2021 and beyond.</p>
                  <div class="row">
                    <div class="col-md-12 col-lg-12">
                      <a class="btn btn-blue btn-block" href="http://bit.ly/SolarCelebration2020" target="_blank"
                        rel="noopener noreferrer" role="button">Register</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <div class="ribbon-wrapper">
              <div class="ribbon green">Event</div>
            </div>
            <div class="card-header">
              <img
                src="https://res.cloudinary.com/dkwon4bkk/image/upload/c_scale,h_328,w_328/v1605249771/images/edu-media-img/politicalclimate.jpg">
            </div>
            <div class="card-body">
              <div class="card-content">
                <div class="card-title">Political Climate Podcast
                  </div>
                <div class="card-text">
                  <p> While Biden’s win represents a new era in the climate fight, the United States remains deeply divided and the policy path forward remains murky. So in the second half of this episode, we speak to Andreas Karelas about his critically acclaimed new book <a href="https://climatecourage.us/" target="_blank" rel="noopener noreferrer">Climate Courage</a>, and how to advance climate solutions in these polarized times. 
                    <a href="https://www.politicalclimatepodcast.com/episodes/episode/249b9b88/bidens-climate-mandate" target="_blank" rel="noopener noreferrer">Listen to podcast</a> or 
                    <a href="https://climatecourage.us/climate-courage-events/" target="_blank" rel="noopener noreferrer">tune into these Climate Courage events</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div>
            <div class="card">
              <div class="ribbon-wrapper">
                <div class="ribbon blue">Update</div>
              </div>
              <div class="card-header">
                <img
                  src="https://res.cloudinary.com/dkwon4bkk/image/upload/c_scale,h_328,w_328/v1606760008/images/edu-media-img/yearendsolar.jpg">
              </div>
              <div class="card-body">
                <div class="card-content">
                  <div class="card-title">Support RE-volv year-end giving campaign!</div>
                  <div class="card-text">
                    <p>To continue to fight climate change at the local level and help nonprofits save money in 2021, RE-volv needs your help.
                       <span class="fw-500">A group of generous RE-volv board members and friends have gone above and beyond their usual contributions to the organization this year, and have pledged to match all donations received through Dec. 31st up to $12,000!</span>
                       Please consider a gift to RE-volv today and help us get the full match.</p>
                    <div class="row">
                      <div class="col-md-12 col-lg-12">
                        <a class="btn btn-blue btn-block" href="https://re-volv.org/project/clean-energy/" target="_blank"
                          rel="noopener noreferrer" role="button">Support RE-volv today</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card">
              <div class="ribbon-wrapper">
                <div class="ribbon blue">Update</div>
              </div>
              <div class="card-header">
                <img
                  src="https://res.cloudinary.com/dkwon4bkk/image/upload/c_scale,h_328,w_328/v1601504078/images/edu-media-img/chip_photobg.jpg">
              </div>
              <div class="card-body">
                <div class="card-content">
                  <div class="card-title">Community Housing Improvement Program - Paradise Village Solar Project</div>
                  <div class="card-text">
                    <p>Congratulations to Community Housing Improvement Program - Paradise Village for going solar with RE-volv! CHIP builds affordable multi-family housing, manages the properties it builds as well as properties owned by others, and has raised money for water and sewer projects.
                       <a href="https://re-volv.org/project/paradisevillage/" target="_blank" rel="noopener noreferrer">Learn more about this project </a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card">
              <div class="ribbon-wrapper">
                <div class="ribbon blue">Update</div>
              </div>
              <div class="card-header">
                <img
                  src="https://res.cloudinary.com/dkwon4bkk/image/upload/c_scale,h_328,w_328/v1601504078/images/edu-media-img/nileseast.jpg">
              </div>
              <div class="card-body">
                <div class="card-content">
                  <div class="card-title">Resident Owned Parks - Niles East Solar Project</div>
                  <div class="card-text">
                    <p>Congratulations to Resident Owned Parks - Niles East for going solar with RE-volv! ROP is a nonprofit housing corporation that preserves all forms of affordable housing to benefit low and moderate income people.
                        <a href="https://re-volv.org/project/nileseast/" target="_blank" rel="noopener noreferrer">Learn more about this project </a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card">
              <div class="ribbon-wrapper">
                <div class="ribbon blue">Update</div>
              </div>
              <div class="card-header">
                <img
                  src="https://res.cloudinary.com/dkwon4bkk/image/upload/v1599864254/images/edu-media-img/buttecountyfoodbank.png">
              </div>
              <div class="card-body">
                <div class="card-content">
                  <div class="card-title">Butte County Food Bank Solar Project</div>
                  <div class="card-text">
                    <p>Congratulations to Butte County Food Bank for going solar with RE-volv! Butte County CAA provides hope to people struggling with poverty to become more self-sustaining by meeting tangible needs in the areas of energy savings, affordable food, and housing. <a href="https://re-volv.org/project/buttefoodbank/" target="_blank" rel="noopener noreferrer">Learn more about this project </a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card">
              <div class="ribbon-wrapper">
                <div class="ribbon blue">Update</div>
              </div>
              <div class="card-header">
                <img
                  src="https://res.cloudinary.com/dkwon4bkk/image/upload/v1599703633/images/edu-media-img/climatecourage-perks.png">
              </div>
              <div class="card-body">
                <div class="card-content">
                  <div class="card-title">RE-volv monthly donor program</div>
                  <div class="card-text">
                    <p>Check out the <a href="/monthly_donor" target="_blank" rel="noopener noreferrer"> monthly donor
                        program</a>. We want to offer you a unique opportunity to support RE-volv, and get a signed copy of
                      Climate Courage book.</p>
                    <div class="row">
                      <div class="col-md-12 col-lg-12">
                        <a class="btn btn-blue btn-block" href="/monthly_donor" target="_blank" rel="noopener noreferrer"
                          role="button">Monthly Donor</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <a href="/blog-center/articles/solidarity/" target="_blank" rel="noopener noreferrer" role="button">
              <div class="card">
                <div class="ribbon-wrapper">
                  <div class="ribbon red">Blog</div>
                </div>
                <div class="card-header">
                  <img
                    src="https://res.cloudinary.com/dkwon4bkk/image/upload/v1599701372/images/edu-media-img/solidarityimg.png">
                </div>
                <div class="card-body">
                  <div class="card-content">
                    <div class="card-title">Solidarity and commitment</div>
                    <div class="card-text">
                      <p>RE-volv is committed to racial justice and equity in America and supports the Movement for Black
                        Lives. RE-volv staff and board members are heartbroken, outraged, and...</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="container-fluid" id="section-seven">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 co-md-12 col-lg-10 text-center">
            <h1 class="blue-text fw-300 mb-5">Featured Projects</h1>
            <div class="line-section mb-5">
              <div class="line-center"></div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center align-items-center mt-5">
          <div class="col-sm-12 co-md-12 col-lg-10 px-3">
            <div class="testimonial-list">
              <!--testimonial one -->
              <div class="testimonial-col">
                <a class="testimonial-img-wrap popup-youtube" href="https://www.youtube.com/watch?v=YRFMFHUyhO4?autoplay=1&rel=0">
                  <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/images/home-img/riverthumb1.jpg">
                  <div class="play-button">
                  </div>
                </a>
                <h5>Veterans of Foreign Wars Post 10804</h5>
                <p>Little River, South Carolina </p>
              </div>
              <!--testimonial one end -->
              <!--testimonial two -->
              <div class="testimonial-col">
                <a class="testimonial-img-wrap popup-youtube" href="https://www.youtube.com/watch?v=ZFK6YiMkpN4?autoplay=1&rel=0">
                  <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/v1611206632/images/home-img/hope-united-church-solar.jpg">
                  <div class="play-button">
                  </div>
                </a>
                <h5>Hope United Methodist Church</h5>
                <p>South San Francisco, CA</p>
              </div>
              <!--testimonial two end -->
              <!--testimonial 
              <div class="testimonial-col">
                <a class="testimonial-img-wrap" href="https://www.youtube.com/watch?v=Uvbn7GpHLnE" target="_blank" rel="noopener noreferrer"v>
                  <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/images/home-img/Darryl.png">
                  <div class="play-button">
                  </div>
                </a>
                <h5>Darryl Dea</h5>
                <p>President, Other Avenues Food Cooperative</p>
              </div>
              testimonial three end -->
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
          <a class="mx-2 fw-500" style="margin-top:20px;" href="/projects/completed_projects" rel="noopener noreferrer" target="_blank" role="button">View nonprofit solar projects</a>
        </div>
      </div>
      <div class="container-fluid" id="section-eight">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 co-md-10 col-lg-10">
            <div class="row align-items-center">
              <div class="col-sm-12 col-md-5 text-right">
                <h1 class="orange-text">Donate</h1>
                <p class="text-white fw-300 mb-4">
                    <span class="fw-700">We believe that everyone should have the ability to support and spread clean energy.</span> So we created a new way for people to take action. It's a pretty simple idea. Through an innovative solar financing model, these nonprofits immediately save on their electricity costs. As these organizations pay us back, we reinvest the money into more solar projects in communities across the country. This creates a revolving fund for solar energy that continually perpetuates itself building more and more solar. It's a pay-it-forward model for solar energy. <span class="fw-700"> We call it the Solar Seed Fund. </span>
                </p>
              </div>
              <div class="col-sm-12 col-md-7">
                <div class="donate-tabs">
                    <ul class="nav justify-content-center" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tabs-once" role="tab">Give Once</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tabs-monthly" role="tab">Monthly</a>
                      </li>
                    </ul><!-- Tab panes -->
                    
                    <form action="{% url 'project:stripe_operation_donation' %}" autocomplete="off" id="general_form" method="post" novalidate="" onkeydown="return event.key != 'Enter';">
                    {% csrf_token %}
                    <div class="tab-content">
                      <div class="tab-pane" id="tabs-once" role="tabpanel">
                        <h5 class="blue-text fw-700">Enter an amount to give</h5>
                         <!-- Amount -->
                        <div class="input-group input-group-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                          </div>
                          <input id="donation-inputz" type="number" step="0.01" min="1" oninput="validity.valid||(value='');" value="35" placeholder="Custom"
                          name="donation_amount_cents" class="form-control" aria-label="Amount (to the nearest dollar)">
                          <div class="input-group-append">
                            <span class="postinput input-group-text">USD</span>
                          </div>
                        </div>
                        <!-- Amount -->
                        <div style="height: 4px; margin-bottom: 1.5rem !important; margin-top: 1.5rem !important;"></div>
                        <a id="donate-button" class="w-full show-next-donate-screen stripe-button-el btn btn-orange btn-me btn-arrow-white my-2" role="button" style="color:white;">DONATE</a>
                      </div>
                      </form>
                      <div class="tab-pane active" id="tabs-monthly" role="tabpanel">
                        <h5 class="blue-text fw-700">Enter an amount to give per month</h5>
                        <!-- Amount -->
                        <!-- Form override -->
                        <form action="{% url 'project:stripe_operation_donation' %}" method="POST" onkeydown="return event.key != 'Enter';">
                            {% csrf_token %}                        
                          <!-- Form override -->
                          <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                              <span class="input-group-text preinput">$</span>
                            </div>
                            <!-- main stripe -->
                            <input id="donation-inputz" type="number" step="0.01" min="1" oninput="validity.valid||(value='');" value="35" placeholder="Custom"
                            name="donation_amount_in_cents" class="form-control" aria-label="Amount (to the nearest dollar)">
                            <input name="metadata" value="1.00" type="hidden">
                            <input name="check" value="checked" type="hidden">  
                            <!-- main stripe -->
                            <div class="input-group-append">
                              <span class="postinput input-group-text">USD/month</span>
                            </div>
                          </div>
                          
                          <div style="height: 4px; margin-bottom: 1.5rem !important; margin-top: 1.5rem !important;"></div>
                          <!-- main stripe -->
                          <a id="donate-button" class="w-full show-next-donate-screen stripe-monthly-donation-button-el btn btn-orange btn-me btn-arrow-white my-2 " role="button" style="color:white; width:100%;">DONATE MONTHLY</a>
                          <!-- main stripe -->
                          <!-- Form override -->
                        <!-- Amount -->
                        </form>
                      </div>
                    </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="container-fluid" id="section-nine">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 co-md-12 col-lg-12 text-center">
            <h1 class="blue-text fw-300 mb-5">Featured in</h1>
            <div class="line-section mb-5">
              <div class="line-center"></div>
            </div>
            <div class="row justify-content-center align-items-center featured-imgs">
              <div class="col-sm-3 col-md-2 featured-logo">
                <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/images/home-img/nyt-img.png">
              </div>
              <div class="col-sm-3 col-md-2 featured-logo">
                <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/images/home-img/sa-img.png">
              </div>
              <div class="col-sm-3 col-md-2 featured-logo">
                <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/images/home-img/sslogo-img.png">
              </div>
              <div class="col-sm-3 col-md-2 featured-logo">
                <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/images/home-img/forbes-img.png">
              </div>
              <div class="col-sm-3 col-md-2 featured-logo">
                <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/images/home-img/whouse-img.png">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid" id="about-section-seven">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 co-md-12 col-lg-12 text-center">
            <h1 class="text-white fw-300 mb-5">Follow us on social media</h1>
            <ul class="sharing-icons">
              <li><a href="https://www.facebook.com/solarseedfund/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://twitter.com/RE_volv" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://www.youtube.com/user/REvolvSolarSeedFund" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i></a></li>
              <li><a href="https://www.instagram.com/re.volv/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="tooltip_templates">
        <div id="tooltip-1">
          <div class="tooltip-body">
            <h3 class="blue-text"> About RE-volv </h3>
            <p>
              RE-volv is a national nonprofit organization whose mission is to tackle climate change at the local level
              by empowering people to accelerate the adoption of clean energy in their communities. At RE-volv, we
              believe that everyone can participate in helping to build the clean energy economy and everyone can share
              in its benefits. We provide solar energy financing to nonprofits serving disadvantaged communities across
              the country, while raising awareness about the benefits of solar, and training the next generation of
              clean energy leaders in the process.
            </p>
            <p>
              Since 2013, RE-volv has been solarizing nonprofits in low-to-moderate-income communities, BIPOC
              communities, and in parts of the country where solar is less common, less economical, and where through
              community engagement, we hope to build momentum for stronger clean energy policy.

            </p>
            <p>Contact Andreas at <span class="orange-text fw-400">andreas@re-volv.org</span></p>
          </div>
        </div>
      </div>

      <div class="tooltip_templates">
        <div id="tooltip-2">
          <div class="tooltip-body">
            <h3 class="blue-text"> Recoverable Grant </h3>
            <p>
              An innovative financial vehicle that allows RE-volv to receive a grant from foundations and Donor Advised
              Funds, use the funds to build solar projects for deserving nonprofits, and pay back the endowment with
              interest over time. Grantors can then continue to regrant those funds to organizations of their choice.
            </p>
            <p>Contact Andreas at <span class="orange-text fw-400">andreas@re-volv.org</span>
            </p>
          </div>
        </div>
      </div>

      <div class="tooltip_templates">
        <div id="tooltip-3">
          <div class="tooltip-body">
            <h3 class="blue-text"> Investment Opportunity </h3>
            <p>
              RE-volv is currently seeking to raise $10 Million through two recoverable grant investment offerings.
              Additional grantor specific-terms are possible. 
            </p>
            <p>9-year term with 1% annual interest rate ($3M investment opportunity)</p>
            <p>15-year term with 1.75% annual interest rate ($7M investment opportunity)</p>
          </div>
        </div>
      </div>


    </main><!-- /.container -->

  <script>
  $(document).ready(function() {
      $('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
          type: 'iframe',
          mainClass: 'mfp-fade',
          preloader: true,
      });
  });

  </script>
    <script src='https://unpkg.com/leaflet@1.0.3/dist/leaflet.js'></script>
    <script src='https://unpkg.com/leaflet.markercluster@1.0.5/dist/leaflet.markercluster.js'></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>

    <script>
      var map = L.map('map', {
        center: [38.096106, -95.722866],
        zoom: 5
      });
      
      var OpenStreetMap_Mapnik = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);
  
      var GeojsonMarkers;
      $.getJSON('https://res.cloudinary.com/dkwon4bkk/raw/upload/v1608271701/images/spmap.geojson', function(data) {
          var clusteredPoints = L.markerClusterGroup();
          var GeojsonMarkers = L.geoJson(data, {
            onEachFeature: function (feature, layer) {
              layer.bindPopup("<h2 class='infoheader'>"+feature.properties.Name+" </h2>"
              + "<p></p>"+ "<a href="+feature.properties.File_path+">Learn More</a>");
              
            }
          });
          clusteredPoints.addLayer(GeojsonMarkers);
  
          map.addLayer(clusteredPoints);
      });
    </script>


    <script src="{% static 'js/home-js/script.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script>
      $('.clean-enrgy-colzx').tooltipster({
        animation: 'grow',
        maxWidth: 1800,
        speed: 300,
        side: 'top',
        arrow: false,
        trigger: 'click',
        interactive: true,
        contentAsHTML: true,
        theme: '',
      });
    </script>
    <script>
        Cognito.setCss('.cognito .c-forms-template {     padding-top: 480px; }'); 
        Cognito.setCss('.cognito .c-action { text-align: center; float:none !important; }'); 
        Cognito.setCss('.cognito #c-submit-button { text-align: center; float:none; }'); 
        Cognito.setCss('.cognito .c-forms-confirmation-message { font-size: 1.5rem; text-align: center; font-weight: 600; }'); 
    </script>
    <script>
      $(function ($) {
      var handler = StripeCheckout.configure({
        key: '{{ stripe_publishable_key }}'
        , image: '{% static "images/revolvorange.png" %}'
        , locale: 'auto'
        , name: 'RE-volv'
        , email: '{{request.user.email}}'
      });
      $(window).on('popstate', function () {
        handler.close();
      });
      $('.stripe-monthly-donation-button-el').on('click', function (e) {
        e.preventDefault();
        var $form = $(this).closest('form');
        var serialized = $form.serializeArray();
        var endpoint = $form.attr('action');
        var amount, metadata;
        $.each(serialized, function () {
          if (this.name === 'donation_amount_in_cents') {
            amount = this.value*100;
          }
          if (this.name === 'metadata') {
            metadata = this.value;
          }
        });
        if (typeof amount !== 'undefined') {
          handler.open({
            description: 'Donate $' + parseFloat((amount / 100).toFixed(2)).toLocaleString()
            , amount: amount
            , metadata: metadata
            , zipCode: true
            , panelLabel: "Donate Monthly"
            , token: function (token) {
              var id = token.id;
              var email = token.email;
              var zipcode = token.card.address_zip;
              var $id = $('<input>')
                .attr('type', 'hidden')
                .attr('name', 'stripeToken')
                .val(id);
              var $email = $('<input>')
                .attr('type', 'hidden')
                .attr('name', 'stripeEmail')
                .val(email);
              var $zipcode = $('<input>')
                .attr('type', 'hidden')
                .attr('name', 'stripeBillingAddressZip')
                .val(zipcode);
              $id.appendTo($form);
              $email.appendTo($form);
              $zipcode.appendTo($form);
              $form.submit(function(e) {
              $('#donation-spinner').css('display', 'flex');
              $.ajax({
                     type: "POST",
                     url: '{% url 'project:stripe_operation_donation' %}',
                     data: $form.serializeArray(), // serializes the form's elements.
                     success: function(data)
                     {
                        if(data.status == 'donation_success') {
                            $('.modal-title').text('Thank you for donating!');
                            $('.donation-text').text("Thank you for donating $" +data.amount + " to RE-volv's mission to empower communities with solar energy!");
                            window.location.href='/thanks/postmonthlydonation/';
                        }
                        if(data.status == 'subscription_success') {
                            $('.modal-title').text('Thank you for donating!');
                            $('.donation-text').text("Thank you for donating $" +data.amount + " monthly to RE-volv's mission to empower communities with solar energy!");
                            window.location.href='/thanks/postmonthlydonation/';
                        }
                        if(data.status == 'already_exist') {
                            $('.modal-title').text('Donation already exist');
                            $('.donation-text').text("Thank you for showing interest, you are already subscribe for monthly donation!");
                        }
                        $('#donation-spinner').css('display', 'none');
                        $('#operationModal').modal('show');
    
                     },
                     error: function(data)
                     {
                        $('.modal-title').text('Error!');
                        $('.donation-text').text("Payment error. Something went wrong.");
                         $('#donation-spinner').css('display', 'none');
                        $('#operationModal').modal('show');
                     }
                   });
    
              e.preventDefault(); // avoid to execute the actual submit of the form.
            });
              $form.trigger('submit');
            }
          });
        }
      });
    });
    </script>
    <script>
        function acceleratorClearInput() {
        $('input[name=check]').prop('checked', true);
        $('input[name=donation_amount_cents]').val('');
        $(".monthly-plan-msg").hide();
        $(".donate-popup .next-button").css("background-color", "#9a9a9a");
        $(".donate-popup .next-button").removeClass("stripe-button-el");
       $(".donate-popup .next-button").addClass("disable-donation-btn");
     }
    </script>   
    <script>
    $(document).ready(function(){
      $('.carousel').slick({
        speed: 400,
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        prevArrow:"<img class='a-left control-c prev slick-prev' src='https://img.icons8.com/flat_round/64/000000/arrow-left.png'>",
        nextArrow:"<img class='a-right control-c next slick-next' src='https://img.icons8.com/flat_round/64/000000/arrow-right.png'>",
        autoplaySpeed: 2000,
        dots:true,
        centerMode: false,
        responsive: [{
          breakpoint: 1480,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            // centerMode: true,
          }

        }, {
          breakpoint: 1024,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            // centerMode: true,
          }

        }]
      });
    });
    </script>
{% endblock %}