{% extends "base/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load wagtailimages_tags %}

{% block head %}

<!-- -->
<script src="{% static 'js/base/homeAnimations.js' %}?version={{ version_number }}"></script>
<link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/tooltipster@4.2.6/dist/css/tooltipster.bundle.min.css"/>
{% endblock %}

{% block body %}
    <main role="main" class="container-fluid">
      <div class="container-fluid blog-header" id="top-section">
        <div class="row text-center">
          <div class="col hero-text align-self-end mb-5">
            <h1 class="text-white fw-700 mb-5">RE-volv Blog</h1>
          </div>
        </div>
      </div>
      <div class="container-fluid scroll-section" id="scroll-section">
          <div class="scroll-icon">
            <img class="scroll-arrow bouncing" src="../../../static/images/blog-monthly-img/scroll-icon.png">
          </div>
      </div>
      <div class="container-fluid" id="blog-body">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 co-md-10 col-lg-10">
            <h2 class="blue-text ml-3 text-uppercase">Latest <span class="orange-text">Posts</span></h2>
            <div class="row justify-content-start align-items-center mt-5">
              <!-- Blog post loop start -->
              <div class="col-sm-12 col-md-4 blog-posts-col">
                <div class="blog-post-inner">
                  <div class="blog-thumb-wrapper">
                    <a href="/blog-center/articles/texting-for-change/">
                    <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/v1614666489/images/blog-article-img/2019-team-1.jpg">
                    </a>
                  </div>
                  <div class="blog-excerpt-wrapper">
                      <a href="/blog-center/articles/ten-years-of-impact/"> <span class="meta-date">FEBRUARY 28, 2021</span> </a>
                    <h4 class="meta-title">Texting for Change Purdue Solar Ambassadors Contribute to Elect a Climate-friendly Administration</h4>
                    <p>I was just finishing the 3rd grade when the 2008..</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 blog-posts-col">
                <div class="blog-post-inner">
                  <div class="blog-thumb-wrapper">
                    <a href="/blog-center/articles/evolving-energy/">
                    <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/v1614669782/images/blog-article-img/solar-panel-clouds.jpg">
                    </a>
                  </div>
                  <div class="blog-excerpt-wrapper">
                      <a href="/blog-center/articles/ten-years-of-impact/"> <span class="meta-date">FEBRUARY 28, 2021</span> </a>
                    <h4 class="meta-title">Solar Ambassadorship: Evolving Energy</h4>
                    <p>I became interested in Re-volv’s Solar Ambassador Program the first..</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 blog-posts-col">
                <div class="blog-post-inner">
                  <div class="blog-thumb-wrapper">
                    <a href="/blog-center/articles/ten-years-of-impact/">
                    <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/v1612470353/images/blog-article-img/ten-year-event.jpg">
                    </a>
                  </div>
                  <div class="blog-excerpt-wrapper">
                      <a href="/blog-center/articles/ten-years-of-impact/"> <span class="meta-date">FEBRUARY 4, 2021</span> </a>
                    <h4 class="meta-title">Thank you for 10 Amazing Years of Impact</h4>
                    <p>Ten years ago today, February 4th 2011, I boarded a train in Jack London..</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 blog-posts-col">
                <div class="blog-post-inner">
                  <div class="blog-thumb-wrapper">
                    <a href="/blog-center/articles/where-do-we-go-chaos-or-community/">
                    <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/v1611207165/images/blog-article-img/where-do-we-go.jpg">
                    </a>
                  </div>
                  <div class="blog-excerpt-wrapper">
                      <a href="/blog-center/articles/where-do-we-go-chaos-or-community/"> <span class="meta-date">JANUARY 18, 2021</span> </a>
                    <h4 class="meta-title">Where do we go from Here? Chaos or Community</h4>
                    <p>Today is a national holiday where we take time to reflect on the legacy..</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 blog-posts-col">
                <div class="blog-post-inner">
                  <div class="blog-thumb-wrapper">
                    <a href="/blog-center/articles/six-factors-installing-rooftop-solar-system/">
                    <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/v1610603006/images/blog-article-img/solar-panel-installation.jpg">
                    </a>
                  </div>
                  <div class="blog-excerpt-wrapper">
                      <a href="/blog-center/articles/six-factors-installing-rooftop-solar-system/"> <span class="meta-date">JANUARY 12, 2021</span> </a>
                    <h4 class="meta-title">6 Factors to Consider When Installing a Rooftop Solar System</h4>
                    <p>Installing a rooftop solar system is a great step..</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 blog-posts-col">
                <div class="blog-post-inner">
                  <div class="blog-thumb-wrapper">
                    <a href="/blog-center/articles/electricity-source/">
                    <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/v1605068437/images/edu-media-img/solarpexels4.jpg">
                    </a>
                  </div>
                  <div class="blog-excerpt-wrapper">
                      <a href="/blog-center/articles/electricity-source/"> <span class="meta-date">OCTOBER 28, 2020</span> </a>
                    <h4 class="meta-title">The Cheapest Source of Electricity in History</h4>
                    <p>It’s official. Guess what is the cheapest source of electricity in history!?</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 blog-posts-col">
                  <div class="blog-post-inner">
                    <div class="blog-thumb-wrapper">
                      <a href="/blog-center/articles/solidarity/">
                      <img src="../../../static/images/blog-monthly-img/blogpeoplesolidarity.jpg">
                      </a>
                    </div>
                    <div class="blog-excerpt-wrapper">
                        <a href="/blog-center/articles/solidarity/"> <span class="meta-date">JUNE 19, 2020</span> </a>
                      <h4 class="meta-title">Solidarity and commitment</h4>
                      <p>In the words of the Movement 4 Black Lives, “Juneteenth is a day that honors Black freedom and...</p>
                    </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-4 blog-posts-col">
          
                  <div class="blog-post-inner">
                    <div class="blog-thumb-wrapper">
                      <a href="/blog-center/articles/solarinvestment/">
                      <img src="../../../static/images/blog-monthly-img/blog-thumb-1.png">
                      </a>
                    </div>
                    <div class="blog-excerpt-wrapper">
                        <a href="/blog-center/articles/solarinvestment/"> <span class="meta-date">FEBRUARY 25, 2019</span> </a>
                      <h4 class="meta-title">Solar Energy as an Investment</h4>
                      <p>I don’t know about you, but I value my money. I want to stretch my dollar as far as possible...</p>
                    </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-4 blog-posts-col">
                <div class="blog-post-inner">
                  <div class="blog-thumb-wrapper">
                    <a href="/blog-center/articles/newyearrevolution/">
                    <img src="../../../static/images/blog-monthly-img/blog-thumb-2.png">
                    </a>
                  </div>
                  <div class="blog-excerpt-wrapper">
                      <a href="/blog-center/articles/newyearrevolution/"> <span class="meta-date">JANUARY 3, 2019</span> </a>
                    <h4 class="meta-title">A New Year’s Revolution</h4>
                    <p>Another year under our belts. Calendars are switched out, resolutions are written, and...</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 blog-posts-col">
                <div class="blog-post-inner">
                  <div class="blog-thumb-wrapper">
                    <a href="/blog-center/articles/overcome-eco-anxiety/">
                    <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/v1610603003/images/blog-article-img/climate-movement.jpg">
                    </a>
                  </div>
                  <div class="blog-excerpt-wrapper">
                      <a href="/blog-center/articles/overcome-eco-anxiety/"> <span class="meta-date">DECEMBER 19, 2018</span> </a>
                    <h4 class="meta-title">Can we overcome Eco-Anxiety?</h4>
                    <p>After 3 years of studying environmental economics, health, and policy I have learned that..</p>
                  </div>
                </div>
              </div> 
              <div class="col-sm-12 col-md-4 blog-posts-col">
                <div class="blog-post-inner">
                  <div class="blog-thumb-wrapper">
                    <a href="/blog-center/articles/coastal-carolina-advancement-of-sustainability/">
                    <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/v1610603001/images/blog-article-img/aashe-conference-photo.jpg">
                    </a>
                  </div>
                  <div class="blog-excerpt-wrapper">
                      <a href="/blog-center/articles/coastal-carolina-advancement-of-sustainability/"> <span class="meta-date">MARCH 15, 2018</span> </a>
                    <h4 class="meta-title">Representing Coastal Carolina University at Advancement of Sustainability in Higher Education</h4>
                    <p>Back in October there was a conference in San Antonio, Texas under the theme of “Stronger..</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 blog-posts-col">
                <div class="blog-post-inner">
                  <div class="blog-thumb-wrapper">
                    <a href="/blog-center/articles/sustainability-saves-more-than-the-environment/">
                    <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/v1610603003/images/blog-article-img/sustainability-saves-environment.png">
                    </a>
                  </div>
                  <div class="blog-excerpt-wrapper">
                      <a href="/blog-center/articles/sustainability-saves-more-than-the-environment/"> <span class="meta-date">MARCH 15, 2018</span> </a>
                    <h4 class="meta-title">Sustainability Saves More than Just </br> the Environment</h4>
                    <p>This past fall I visited the beautiful, rich country of Ghana in Western Africa..</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 blog-posts-col">
                <div class="blog-post-inner">
                  <div class="blog-thumb-wrapper">
                    <a href="/blog-center/articles/get-most-out-of-your-solar-system-energy-production/">
                    <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/v1610603003/images/blog-article-img/solar-cell-panel-efficiency-energysage.jpg">
                    </a>
                  </div>
                  <div class="blog-excerpt-wrapper">
                      <a href="/blog-center/articles/get-most-out-of-your-solar-system-energy-production/"> <span class="meta-date">DECEMBER 12, 2017</span> </a>
                    <h4 class="meta-title">Getting the Most Out of your Solar System's Energy Production</h4>
                    <p>Installing solar panels onto your home’s roof is a great way to offset expensive energy bills while investing..</p>
                  </div>
                </div>
              </div>     
              <div class="col-sm-12 col-md-4 blog-posts-col">
                <div class="blog-post-inner">
                  <div class="blog-thumb-wrapper">
                    <a href="/blog-center/articles/why-i-became-a-solar-ambassador/">
                    <img src="https://res.cloudinary.com/dkwon4bkk/image/upload/v1610603005/images/blog-article-img/solar-ambassadors-kayak.jpg">
                    </a>
                  </div>
                  <div class="blog-excerpt-wrapper">
                      <a href="/blog-center/articles/why-i-became-a-solar-ambassador/"> <span class="meta-date">OCTOBER 24, 2017</span> </a>
                    <h4 class="meta-title">Why I Became A Solar Ambassador for RE-volv</h4>
                    <p>In this post I would like to talk about something very important to me. It acts as the founding..</p>
                  </div>
                </div>
              </div>
              <!-- Blog post loop end -->

            </div>
            <div class="row justify-content-center align-items-center text-center">
              <a class="btn btn-grey btn-lg btn-arrow-white my-2" href="#" role="button" style="display: none;">Load More</a> 
            </div>
          </div>
        </div>
      </div>

      <form id="form1" name="form1" class="wufoo  page" autocomplete="off" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="container-fluid" id="section-six">
          <div class="row justify-content-center align-items-center section-six-row">
            <div class="col-sm-12 co-md-12 col-lg-10">
              <div class="row align-items-center">
                <div class="col-sm-12 col-md-5 text-right text-white">
                  <h2 class="fw-700 mb-3">Newsletter Signup</h2>
                  <p class="fw-300">By subscribing to our mailing list you will always be updated with the latest news from us.</p>
                </div>


                <div class="col-sm-12 col-md-7">
                  <div class="input-group mb-3 subscription-form inputs">
                      <input class="form-control" id="Field0" name="email" type="email" spellcheck="false" value="" maxlength="255" tabindex="1" placeholder="Enter your email address" required>
                      <div class="input-group-append">
                      <button class="btn btn-blue newsletter-signup btn-sign-up" type="button" style="height: 100%;">Sign up</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

    </main><!-- /.container -->


    {% endblock %}