{% extends "base/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load wagtailimages_tags %}

{% block head %}

<link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/tooltipster@4.2.6/dist/css/tooltipster.bundle.min.css" />
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css'>

<style>

  @media (max-width:432px) {
    #application-section-five {
      padding-top: 102px !important;
    }
  }

  @media (max-width:1700px) {
    #application-section-five {
      background: url(../../../static/images/edu-media-img/requirments-bg.png);
      padding: 6% 2% !important;
      padding-top: 102px !important;
    }
  }

  @media (max-width:1280px) {
    #application-section-five {
      background: url(../../../static/images/edu-media-img/requirments-bg.png);
      padding: 6% 2%;
      font-size: .8rem;
      padding-top: 102px !important;
    }
  }

  @media (max-width:1500px) {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  @media (max-width:1480px) {
    .container {
      width: 100%;
      padding: 0 90px;
    }
  }

  @media (max-width:1260px) {
    .container {
      width: 100%;
      padding: 0 30px;
    }
  }

  .top-header-job {
    text-align: center;
    width: 100%;
    white-space: pre-line;     display: block;     font-size: 1.6rem;
    font-family: proxima-nova, sans-serif;
    color: rgb(72, 67, 101);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-weight: 400;
  }

  .second-header-job {
    color: #100084;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
  }

  .third-header-job {
    font-size: 1.2rem;
    line-height: 1.6em;
    font-weight: 400;
  }

  .tiles .button {
    color: #fff;
    display: block;
    font-weight: bold;
    overflow: hidden;
    padding: 20px 10px;
    text-align: center;
  }

  .tiles .button.blue {
    background: #1f497d;
    border: 2px solid #10253f;
  }

  #job-openings::before {
    content: '';
    display: block;
    height: 75px;
    margin-top: -75px;
    visibility: hidden;
  }
</style>

{% endblock %}

{% block body %}

<main role="main" class="container-fluid">

  <div class="row" style="z-index:99;">
    <div class="container-fluid" id="application-section-five" style="background-size:100%;">
      <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 co-md-10 col-lg-10">
          <div class="row align-items-center justify-content-start">
            <div class="col-sm-12 col-md-5">
              <div id="positions  how-it-works-bg">
                <h1 class="orange-text"> About RE-volv</h1>
                <p style="color:white;">We believe that everyone should have the ability to support and spread clean energy. 
                  So we created a new way for people to take action. It's a pretty simple idea. 
                  We crowdsource to put solar panels on community-serving nonprofit organizations. 
                  As these organizations pay us back, we reinvest the money into more solar projects in communities across the country. 
                </p> 
                <p style="color:white;"> Help us spread solar and bring the benefits of clean energy to communities that need it most. </p>

                <p style="color:white;"> Want to help? Explore our job openings below and join the team.</p>

                <a class="btn btn-blue btn-me btn-arrow-orange mx-2 anchorz" href="#job-openings" role="button">Job
                  Openings</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container how-it-works-bg">

    </div>
  </div>


  <div style="    background-image: url(../../../static/images/edu-media-img/bg-overlay.png); ">
    <div class="container">
      <div class=" my-5">
        <div id="job-openings" class="top-header-job" >
          <h4 class="second-header-job">Job Openings</h4>
        </div>

        <div class="accordion mb-5" id="accordionExample">
          <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    Director of Operations
                  </button>
                </h2>
              </div>

              <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <h5 style="text-align: center;"> Director of Operations </h5>
                  <p><strong>Primary Location:</strong> Remote</p>
                  <p><strong>Reports To:</strong> Executive Director</p>

                  <h5>The Director of Operations Role</h5>
                  <p>The Director of Operations will work hand in hand with the Executive Director and will manage the
                      finances, human resources, and business operations at RE-volv. The Director of Operations will be
                      responsible for managing our accounting, solar project investment strategy, HR practices, as well as
                      technological and operational systems as we scale. The ideal candidate will have demonstrated track
                      record in nonprofit management, solar project finance, HR, managing IT systems, and successfully
                      scaling organizations. They will also have a deep understanding of the clean energy and climate justice
                      space, and the ability to learn quickly and creatively problem solve. They will have exemplary
                      communication skills, possess a high attention to detail, and bring an optimistic, positive attitude to the
                      team.</p>

                  <h5>About RE-volv</h5>
                  <p> RE-volv is a nonprofit social enterprise fighting climate change and working to build a more sustainable
                      and equitable world. We do this by empowering people to bring clean energy to their communities,
                      providing the upfront costs of installing solar energy systems to local nonprofits, and educating local
                      community members about the benefits of clean energy in the process. Through an innovative solar
                      finance model, these nonprofits immediately save on their electricity costs, while their monthly solar
                      payments contribute to a revolving fund, which helps pay for the next nonprofit’s solar system – a
                      first-of-its-kind pay-it-forward model for renewable energy we call the Solar Seed Fund.</p>

                  <p> RE-volv has received numerous awards, including a Business Innovation Award from the U.S.
                      Department of Energy’s Sunshot Initiative, is an inaugural member of the White House National
                      Community Solar Partnership, and winner of the OpenIDEO Climate Innovation Fellowship.</p>

                  <p> RE-volv is at an exciting moment in the life of the organization. With nearly 3MW of solar financed for
                      42 nonprofits in 10 states that serve tens of thousands of people and Solar Ambassador fellows at 20
                      universities across the country, our track record is proven. The opportunity to scale is massive.</p>

                  <h5> Position Details</h5>
                  <p> Your role as the Director of Operations will be to manage all RE-volv operations including matters of
                      financial oversight, human resources, technology, and other internal functions. It will also include helping
                      to foster our organizational culture of performance excellence while maintaining a friendly, fun,
                      supportive atmosphere among a group of diverse, talented individuals as the organization scales quickly
                      over the coming years. </p>

                  <p> This is a full time position that can be done remotely. We have an office in the Financial District of San
                      Francisco, which is available for employees to use with proper health-safety precautions. Due to the
                      ongoing pandemic, all RE-volv employees are now able to work remotely.</p>

                  <p> This is a high impact position, requiring creativity, independence, collaboration and initiative.
                      Compensation includes an annual salary commensurate with experience, healthcare and retirement
                      benefits, and generous paid time off. RE-volv also provides the last Friday of every month off for
                      personal care, which we call RE-charge Days. RE-volv allows flexible work hours and is committed to
                      supporting a good work-life balance.</p>

                  <p> By choosing to work at RE-volv, you know that your efforts everyday are not limited to just helping
                      promote clean energy and fight climate change. You are also helping a myriad of nonprofits lower their
                      electric bills, so they can be more successful in serving their communities around the country. Together
                      we can create a more just and equitable society.</p>

                  <p> This position starts as soon as possible.</p>

                  <h5>Responsibilities:</h5>
                  <ul class="ml-4">
                    <li>Work closely with Executive Director to set strategic priorities for the organization</li>
                    <li>Develop the internal financial controls and oversight structures that will allow the organization to
                        deploy tens of millions of dollars of solar project finance, and manage a multi-million dollar
                        operational budget</li>
                    <li>Provide staff a strong day-to-day leadership presence regarding all matters of operations and be
                        available to support staff as needed</li>
                    <li>Lead the performance management process that measures and evaluates staff progress against
                      goals for the organization</li>
                    <li>Help set and track our organizational performance metrics, ensure data integrity, and manage our
                      IT infrastructure to support the growth of the organization</li>
                    <li>Work closely with the solar team to streamline our processes and measure each project’s financial
                      viability in line with the overall health of our project portfolio</li>
                    <li>Monitor incoming solar revenue and outgoing payments across a growing number of projects
                      with proper financial oversight</li>
                    <li>Track movement against all contractual obligations for each individual Program Related
                      Investment or Recoverable Grant we’ve received ensuring rapid deployment of capital and timely
                      repayment to investors</li>
                    <li>Assist in evaluating and procuring insurance policies for solar projects and the organization </li>
                    <li>Manage annual budgeting process to accommodate growing staff needs, annual operating costs
                      increases, and strategic deployment of the Solar Seed Fund</li>
                    <li>Manage annual audit, all legal filings, and year-end 501c3 reporting</li>
                    <li>Provide ongoing financial reporting and analysis to the Board of Directors</li>
                    <li>Oversee human resource needs such as ensuring timely reviews, competitive benefits and
                      organizational development in accordance with RE-volv’s goals, budget and development</li>
                  </ul>
                  <h5>Skills and Qualifications:</h5>
                  <ul class="ml-4">
                    <li>6+ years of financial and business modeling experience, preferably in clean energy</li>
                    <li>6+ years of leadership and operational management experience, preferably in nonprofits</li>
                    <li>Demonstrated experience scaling organizations in a leadership position</li>
                    <li> Eagerness to work closely with staff to help develop their skills and achieve their career goals in
                        line with organizational goals</li>
                    <li>Budget planning, monitoring, and reporting skills</li>
                    <li>Experience working with and reporting to investors</li>
                    <li>Proven track record implementing and managing information infrastructure in Salesforce,
                        Dropbox, and Google Drive</li>
                    <li>Ability to analyze key metrics and data trends to guide organizational decisions</li>
                    <li>Demonstrated commitment to promoting renewable energy, mitigating climate change, and
                        building an equitable and sustainable society</li>
                  </ul>
                  <h5>How to Apply</h5>
                  <p>Please submit your resume and a brief cover letter detailing relevant experience, salary requirements, and
                      interest in the position via email to <a href="mailto:info@re-volv.org">info@re-volv.org</a>. Deadline to apply is February 19th. All applications
                      will be reviewed at that time. Please write “<strong>Director of Operations Application - Last Name, First Name</strong>” in the subject line. No calls, please.</p>
                </div> 
            </div>
          </div>
        </div>
      </div>

      <div class="top-header-job">
        <h4 class="second-header-job">Careers</h4>
        <h1 style="font-size: 2.2rem;"><span>Work that makes a
            difference</span></h1>
        <h3 class="third-header-job">RE-volv empowers people to bring clean energy to their communities. We envision a world where
          people are thriving in communities powered by clean energy</h3>
      </div>
      <img class="  " src="../../../static/images/edu-media-img/jobs-image2.png">

      <div class="top-header-job">
        <h4 class="second-header-job">Benefits</h4>
        <h1 style="font-size: 2.2rem;"><span>What it's like to work at
            RE-volv</span></h1>
      </div>

      <div class="container">
        <div class="row" style="justify-content: center; height:100%;">
          <div class="col-md-4 my-4" style="justify-content: center; text-align: center;">
            <i class="fas fa-briefcase-medical my-4" style="color:#100084; font-size:4rem;"></i>
            <p>Comprehensive Health Plan</p>
          </div>
          <div class="col-md-4 my-4" style="justify-content: center; text-align: center;">
            <i class="fas fa-book-open my-4" style="color:#100084; font-size:4rem;"></i>
            <p>Learning and development</p>
          </div>
          <div class="col-md-4 my-4" style="justify-content: center; text-align: center;">
            <i class="fas fa-battery-full my-4" style="color:#100084; font-size:4rem;"></i>
            <p>RE-charge Friday</p>
          </div>
          <div class="col-md-4 my-4" style="justify-content: center; text-align: center;">
            <i class="fas fa-piggy-bank my-4" style="color:#100084; font-size:4rem;"></i>
            <p>Save for retirement</p>
          </div>
          <div class="col-md-4 my-4" style="justify-content: center; text-align: center;">
            <i class="fas fa-umbrella-beach my-4" style="color:#100084; font-size:4rem;"></i>
            <p>Generous time off</p>
          </div>
        </div>
      </div>
    </div>

      <div class="container-fluid" id="ambassador-section-five">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 co-md-12 col-lg-8 text-center">
            <h2 class="text-white mb-4">Become a Volunteer</h2>
            <p class="grey-text">As a RE-volv Solar Ambassador Community Champion, you will spearhead a local solar project from start to finish. Don’t know much about solar? Not to worry. RE-volv will train you on everything you need to know to bring solar to a local nonprofit and make a mark on your community.</p>
            <a class="btn btn-orange btn-me btn-arrow-white my-4" href="#" role="button" style="display: none;">Learn more about being a Community Champion</a>
            <div class="row justify-content-center align-items-center margin-top:40px;">
                <a class="btn btn-blue btn-me btn-arrow-orange mx-2" href="/bring_solar_to_your_community/intake_form/signup/" role="button">Reach out to learn more</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</main>

<script src="{% static 'js/script.js' %}"></script>

{% endblock %}

{% block javascripts %}
<script>
  $('.collapse').collapse()

  $('.clean-enrgy-colzx').tooltipster({
    animation: 'fade',
    side: 'top',
    arrow: false,
    trigger: 'click',
    interactive: true,
    contentAsHTML: true,
    theme: '',
  });
</script>

{% endblock %}