{% extends "base/base5.html" %}

<head>
<meta charset="utf-8">
<meta name="description" content="RE-volv Recoverable Grant Investment Opportunity">
<meta name="keywords" content="RE-volv, Recoverable Grant, Investment Opportunity">
<title>RE-volv Recoverable Grant</title>

<link rel="shortcut icon" href="https://res.cloudinary.com/dkwon4bkk/image/upload/v1594178175/images/revolvorange.png" type="image/x-icon">
<link rel="icon" href="https://res.cloudinary.com/dkwon4bkk/image/upload/v1594178175/images/revolvorange.png" type="image/x-icon">

<script src="https://kit.fontawesome.com/6dfbb14f0c.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body>
{% block body %}
<div class="page-wrapper">

	<section class="about-section">
		<div class="auto-container">
			<div class="row clearfix">

				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column" style="margin-top:40px;">

						<div class="sec-title">
							<div class="title">Recoverable Grant</div>
							<h2>Investment Opportunity</h2>
						</div>
						
						<div class="text">
								<p>
									RE-volv works to provide solar energy access to those that are excluded from the benefits of the clean
									energy economy. RE-volv is currently raising $10 Million through Recoverable Grants from impact investors and
									foundations through two investment options to scale our proven model of solar finance for community-serving
									nonprofits across the United States.
								</p>
						</div>
						<h6 style="text-align:center; color:#1a1e66;">Sign up to receive more Information</h2>

					<div style="margin-top: -200px !important;">
						<iframe src="https://www.cognitoforms.com/f/o_n8-oHQCUC-10BCk9BpSA?id=9" style="position:relative;width:1px;min-width:100%;*width:100%;" frameborder="0" scrolling="yes" seamless="seamless" height="285" width="100%"></iframe>
						<script src="https://www.cognitoforms.com/scripts/embed.js"></script>
					</div>

						<div class="question" style="border-bottom:none;">
								Ready to Learn More and Invest?
								<p style="font-size: 16px; color: #1a1e66; font-weight:400;">Call or email RE-volv to set up an informational meeting to learn more about the Recoverable Grant investment opportunity.</p>
								<div style="margin:20px;"><span style="margin-right:20px;"><i class="fas fa-phone"></i></span>  (415) 579-3251</div>
								<div style="margin:20px;"><span style="margin-right:20px;"><i class="fas fa-envelope-open-text"></i></span>  info@re-volv.org</div>
						</div>

					</div>
				</div>

				<div class="video-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">

						<div class="video-box">
								<figure class="image">
										<img src="https://res.cloudinary.com/dkwon4bkk/image/upload/images/about-abr-img/ambassador-player-poster.png" alt="">
								</figure>
								<a href="https://res.cloudinary.com/dkwon4bkk/video/upload/v1616057228/images/recoverable-grant/Hope_United_Goes_Solar_with_RE-volv.mp4" class="lightbox-image overlay-box"><span class=""><i class="fas fa-play"></i></span></a>
						</div>
						
						<div class="fact-counter">
							<div class="auto-container">
								<div class="row clearfix">

									<div class="column counter-column col-lg-4 col-md-6 col-sm-12">
										<div class="inner">
											<div class="count-outer count-box">
												<span class="count-text" data-speed="2000" data-stop="10">0</span>
												<div class="counter-title">Million</div>
												<div class="text">Dollar Invested</div>
											</div>
										</div>
									</div>

									<div class="column counter-column col-lg-4 col-md-6 col-sm-12">
										<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
											<div class="count-outer count-box">
												<span class="count-text" data-speed="3500" data-stop="45">0</span>+
												<div class="counter-title">Nonprofits</div>
												<div class="text">Solar Projects Funded</div>
											</div>
										</div>
									</div>

									<div class="column counter-column col-lg-4 col-md-12 col-sm-12">
										<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
											<div class="count-outer count-box">
												<span class="count-text" data-speed="153" data-stop="181">0</span>
												<div class="counter-title">Million lbs</div>
												<div class="text">CO <sup>2</sup> Avoided</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</section>
	
	<script>
		Cognito.setCss('.cognito .c-forms-template { padding-top: 200px; }'); 
		Cognito.setCss('.cognito .c-action { text-align: center; float:none !important; }'); 
		Cognito.setCss('.cognito #c-submit-button { text-align: center; float:none; }'); 
		Cognito.setCss('.cognito .c-forms-confirmation-message { font-size: 1.5rem; text-align: center; font-weight: 600; color: black !important; margin-top:100px; }'); 
	</script>

<section class="call-to-action" style="background-image:url(https://res.cloudinary.com/dkwon4bkk/image/upload/v1594177004/images/edu-media-img/application-header.png)">
	<div class="auto-container">
		<h2>Support nonprofits and advance clean energy across the country by investing in RE-volv's Recoverable Grant Opportunity</h2>
		<div class="btns-box" style="padding-bottom: 40px;">
			<a href="#" class="theme-btn btn-style-one" style="background:#012068; padding: 10px 40px !important;">Sign up to learn more</a>
		</div>
	</div>
</section>

<section class="sponsors-section" style="padding-top:70px;">
	<div class="auto-container">
		<div class="sec-title centered">
			<div class="title">The Impact of Your Investment</div>
			<h2>How Recoverable Grants Work</h2>

	<div class="row">
		<div class="col-lg-6 col-md-12 col-sm-12">
			<div class="text">
			<p style="font-size:17px !important; text-align: left;">A Recoverable Grant is an innovative financial vehicle that
				allows RE-volv to receive a grant from foundations
				and Donor Advised Funds, use the funds to build solar projects for deserving nonprofits, and pay back the
				endowment with interest over time. At the end of the term, grantors receive back their investment with interest,
				and grantors can then continue to regrant those funds to organizations of their choice.</p>

			<p style="font-size:17px !important; text-align: left;">
				RE-volv is currently seeking to raise $10 Million through two recoverable grant investment offerings including a
				9-year term with a 1% annual interest rate and a 15-year term with a 1.75% annual interest rate. Your investment
				today will accelerate the just transition to a clean energy economy that provides real economic value to those that
				need it most. Investors will receive bi-annual reports showcasing how their investments are creating impact in
				communities at the front lines of the fight for climate solutions.
			</p>
			</div>
		</div>

		<div class="col-lg-6 col-md-12 col-sm-12">
			<img src="https://res.cloudinary.com/dkwon4bkk/image/upload/v1617840994/images/blog-article-img/RE-volv-Recoverable-grant-graphic.png" alt="RE-volv Recoverable Grant graphic">
		</div>
	</div>
	<div class="row" style="margin-top:40px;">
		<div class="col-md-8" style="text-align: left;">
				<div class="title" style="font-size: 16px; font-weight: 700; color: #012068;">Ready to Learn More?</div>
				<div class="text" style="text-align: left;">Download the RE-volv Recoverable Grants Informational 1-pager to learn more about the program.</div>
		</div>
		<div class="col-md-4">
				<div class="btns-box" style="padding: 40px;">
						<a href="https://www.dropbox.com/s/l9n71jwik2dwbyy/RE-volv%20Recoverable%20Grant%20Overview.pdf?dl=0" target="_blank" rel="noopener noreferrer" class="theme-btn btn-style-one" style="background:#012068; padding: 10px 40px !important;">Recoverable Grants 1-pager</a>
					</div>
		</div>
	</div>
	</div>
		
	</div>
</section>

	<section class="services-section-two" style="margin-top:-110px !important;">
		<div class="auto-container">

			<div class="sec-title centered">
				<div class="title">RE-volv</div>
				<h2>Our Theory of Change</h2>
				<div class="text">We provide solar energy financing to nonprofits serving disadvantaged communities across the country, while raising awareness about the benefits of solar, and training the next generation of clean energy leaders in the process. Your investment will not only accelerate the adoption of clean energy for deserving nonprofits, but will empower communities to collectively invest in renewable energy and help train the next generation of clean energy leaders.</div>
			</div>
			
			<div class="row clearfix">
				<div class="services-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="/projects/completed_projects" target="_blank" rel="noopener noreferrer">
							<img src="https://res.cloudinary.com/dkwon4bkk/image/upload/c_scale,h_960,w_1280/v1605566461/images/edu-media-img/MHCAN-2.jpg" alt="" />
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="icon-box">
									</div>
									<h5 style="color: white;">Help nonprofits go solar</h5>
								</div>
							</div>
							</a>
						</div>
					</div>
				</div>
		
				<div class="services-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">	
							<a href="/get-involved/education/" target="_blank" rel="noopener noreferrer">
							<img src="https://res.cloudinary.com/dkwon4bkk/image/upload/c_scale,h_960,w_1280/v1594176998/images/edu-media-img/email-confirm8.jpg" alt="" />
							<div class="overlay-box">		
								<div class="overlay-inner">
									<div class="icon-box">
									</div>
									<h5 style="color: white;">Empower communities</h5>
								</div>	
							</div>
							</a>
						</div>
					</div>
				</div>
				<div class="services-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box" >
						<div class="image">
							<a href="/get-involved/team" target="_blank" rel="noopener noreferrer">
							<img src="https://res.cloudinary.com/dkwon4bkk/image/upload/c_scale,h_960,w_1280/v1594177009/images/edu-media-img/ambassador-header.png" alt="" />
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="icon-box">
									</div>
									<h5 style="color: white;">Train Solar Ambassadors</h5>
								</div>
							</div>
							</a>
						</div>
					</div>
				</div>	
			
			</div>
		</div>
	</section>	

	<section class="team-section" style="padding: 85px 0px 60px;">
		<div class="auto-container">
			<div class="row clearfix">

				<div class="title-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">

						<div class="sec-title">
							<div class="title" style="font-size: 16px; font-weight: 700; color: #012068;">RE-volv Solar Projects</div>
							<h2></span></h2>
							<div class="text">RE-volv provides solar financing for <a href="/blog-center/articles/project-impact-areas/" target="_blank" rel="noopener noreferrer">community-serving nonprofits</a> throughout the country. Your investment will directly provide solar to nonprofits that impact BIPOC communities, Veterans, Youth, Arts, Housing, Health Initiatives, Animals, Communities of Faith, Conservation, Food and Agriculture, and Community Development.
							</div>
						</div>
						<a href="/projects/completed_projects" target="_blank" rel="noopener noreferrer" class="theme-btn btn-style-one" style="background:#012068; padding: 10px 40px !important;">View our Projects</a>
					</div>
				</div>
				

				<div class="blocks-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="three-item-carousel owl-carousel owl-theme">
							<div class="team-block">
								<div class="inner-box">
									<div class="image">
										<a href="/project/unitygardens/" target="_blank" rel="noopener noreferrer"> 
										<img src="https://res.cloudinary.com/dkwon4bkk/image/upload/c_scale,h_315,w_236/v1616021748/images/recoverable-grant/Unity_Gardens.jpg" alt="" />
										</a>
									</div>
								</div>
							</div>
							<div class="team-block">
								<div class="inner-box">
									<div class="image">
										<a href="/project/surfacecreek/" target="_blank" rel="noopener noreferrer"> 
										<img src="https://res.cloudinary.com/dkwon4bkk/image/upload/c_scale,h_315,w_236/v1616021748/images/recoverable-grant/Animal_Shelter.jpg" alt="" />
										</a>
									</div>
								</div>
							</div>
						<div class="team-block">
							<div class="inner-box">
								<div class="image">
									<a href="/project/projecthome/" target="_blank" rel="noopener noreferrer">
									<img src="https://res.cloudinary.com/dkwon4bkk/image/upload/c_scale,h_315,w_236/v1616021747/images/recoverable-grant/Project_Home.jpg" alt="" />
									</a>
								</div>
							</div>
						</div>
						<div class="team-block">
							<div class="inner-box">
								<div class="image">
									<a href="/project/mhcan/" target="_blank" rel="noopener noreferrer">
									<img src="https://res.cloudinary.com/dkwon4bkk/image/upload/c_scale,h_315,w_236/v1605566461/images/edu-media-img/MHCAN.jpg" alt="" />
									</a>
								</div>
							</div>
						</div>
						<div class="team-block">
							<div class="inner-box">
								<div class="image">
									<a href="/project/harborhouse/" target="_blank" rel="noopener noreferrer">
									<img src="https://res.cloudinary.com/dkwon4bkk/image/upload/c_scale,h_315,w_236/v1616111437/images/edu-media-img/campaign-header.png" alt="" />
									</a>
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>

	<section class="testimonial-section">
		<div class="auto-container">
			<div class="sec-title centered" style="margin-bottom:0px;">
				<div class="title" style="color:white;">Your Investment in Action</div>
				<h2 id="testimonial-hd"style="color:white;">Testimonials from Past Projects</h2>
				<div style="justify-content: center; margin: 0 auto; content: ''; left: 0px; bottom: 0px; width: 40px; height: 3px; background-color: white;"></div>
			</div>

			<div class="single-item-carousel owl-carousel owl-theme">
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="quote-icon">					
						</div>
						<div class="text" style="margin-top:80px;">I can say that I have greatly benefited from the installation of the
							solar panels. I believe I see this most through recognizing the money saved on my electricity bill. Having a
							household with three children, tons of energy is used. It is also dependable during power outages.</div>
						<h3><a href="/project/unitygardens/" target="_blank" rel="noopener noreferrer">Resident at Unity Gardens</a></h3>
						<div class="author">a multifamily affordable housing unit in Berkeley, CA</div>
					</div>
				</div>

				<div class="testimonial-block">
					<div class="inner-box">
						<div class="quote-icon">
						</div>
						<div class="text" style="margin-top:80px;">Our solar installation has provided a clean, dependable source of
							electrical power for the Animal Shelter. The Shelter is doing its part to reduce its carbon footprint in an
							effort to address climate change.</div>
						<h3><a href="/project/surfacecreek/" target="_blank" rel="noopener noreferrer">Surface Creek Animal Shelter</a></h3>
						<div class="author">An Adoption Guarantee facility in Cedaredge, CO</div>
					</div>
				</div>

				<div class="testimonial-block">
					<div class="inner-box">
						<div class="quote-icon">					
						</div>
						<div class="text" style="margin-top:80px;">Going solar with RE-volv has reduced Project Home's expenses on
							electricity, which has given our agency more general, operational dollars. It has also allowed us to expand our
							impact as an environmentally-conscious organization, by now including a presence in renewables to go along with
							our strong history in energy conservation.</div>
						<h3><a href="/project/projecthome/" target="_blank" rel="noopener noreferrer">Project Home</a></h3>
						<div class="author">A nonprofit helping vulnerable populations with home repairs in Madison, WI</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>

	<section class="sponsors-section">
			<div class="auto-container">
				<div class="sec-title centered">
					<div class="title">Looking to Donate? </div>
					<h2>Let's change lives!</h2>
					<div class="text">
						<p style="max-width:800px; margin:0 auto;">RE-volv's Monthly Donor program allows donors to invest monthly in a world where everyone can thrive from clean energy. Your monthly gift supports community-serving nonprofits, allowing them to access the cost-savings of renewable energy and fight climate change at the local level.
						</p>
					</div>
					<div class="btns-box" style="padding: 40px;">
							<a href="/monthly_donor/" target="_blank" rel="noopener noreferrer" class="theme-btn btn-style-one" style="background:#012068; padding: 10px 40px !important;">Become a Monthly Donor</a>
						</div>
				</div>
			</div>
		</section>
</div>

<script src="https://res.cloudinary.com/dkwon4bkk/raw/upload/v1616094783/js/recoverable-grant/jquery.js"></script>
<script src="https://res.cloudinary.com/dkwon4bkk/raw/upload/v1616095906/js/recoverable-grant/popper.min.js"></script>
<script src="https://res.cloudinary.com/dkwon4bkk/raw/upload/v1616095906/js/recoverable-grant/bootstrap.min.js"></script>
<script src="https://res.cloudinary.com/dkwon4bkk/raw/upload/v1616095906/js/recoverable-grant/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="https://res.cloudinary.com/dkwon4bkk/raw/upload/v1616095906/js/recoverable-grant/jquery.fancybox.js"></script>
<script src="https://res.cloudinary.com/dkwon4bkk/raw/upload/v1616095906/js/recoverable-grant/appear.js"></script>
<script src="https://res.cloudinary.com/dkwon4bkk/raw/upload/v1616095906/js/recoverable-grant/owl.js"></script>
<script src="https://res.cloudinary.com/dkwon4bkk/raw/upload/v1616095906/js/recoverable-grant/wow.js"></script>
<script src="https://res.cloudinary.com/dkwon4bkk/raw/upload/v1616095906/js/recoverable-grant/jquery-ui.js"></script>
<script src="https://res.cloudinary.com/dkwon4bkk/raw/upload/v1616095906/js/recoverable-grant/main.js"></script>

<script type="text/javascript">
	document.getElementById('navbar-section').classList.add('is-sticky');
</script>

</body>
{% endblock %}