
@media print {
    *, :after, :before {
        color: #000!important;
        text-shadow: none!important;
        background: 0 0!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important
    }
    a, a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    a[href^="#"]:after {
        content: ""
    }
    img {
        page-break-inside: avoid
    }
    img {
        max-width: 100%!important
    }
    h2, h3, p {
        orphans: 3;
        widows: 3
    }
    h2, h3 {
        page-break-after: avoid
    }
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}

a {
    color: #337ab7;
    text-decoration: none
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: underline
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

img {
    vertical-align: middle
}

h2, h3 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

p {
    margin: 0 0 10px
}

.text-left {
    text-align: left
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-lg-4, .col-md-4, .col-sm-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width:768px) {
    .col-sm-6 {
        float: left
    }
    .col-sm-6 {
        width: 50%
    }
}

@media (min-width:992px) {
    .col-md-4 {
        float: left
    }
    .col-md-4 {
        width: 33.33333333%
    }
}

@media (min-width:1200px) {
    .col-lg-4 {
        float: left
    }
    .col-lg-4 {
        width: 33.33333333%
    }
}

.clearfix:after, .clearfix:before, .row:after, .row:before {
    display: table;
    content: " "
}

.clearfix:after, .row:after {
    clear: both
}

@-ms-viewport {
    width: device-width
}




/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */




html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased
}

body {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    overflow-x: hidden !important;
    background-color: #f3f3f3;
    color: #767676
}

p {
    margin: 0 0 15px
}


a {
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    transition: all .4s ease-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000
}

a:hover {
    background-color: transparent;
    text-decoration: none
}

a:focus {
    background-color: transparent;
    outline: 0 !important;
    text-decoration: none
}

.cause-inner a {
    color: inherit
}

.sec-title.section-title-margin-bottom-medium {
    margin-bottom: 50px
}

.shadow {
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, .15);
    -ms-box-shadow: 0 2px 7px rgba(0, 0, 0, .15);
    -o-box-shadow: 0 2px 7px rgba(0, 0, 0, .15);
    box-shadow: 0 2px 7px rgba(0, 0, 0, .15);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transition: .4s;
    -webkit-transition: .4s
}

.shadow-hover:hover {
    -webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 12px 20px rgba(0, 0, 0, .15);
    -ms-box-shadow: 0 12px 20px rgba(0, 0, 0, .15);
    -o-box-shadow: 0 12px 20px rgba(0, 0, 0, .15);
    box-shadow: 0 12px 20px rgba(0, 0, 0, .15);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
}

.ch-causes .cause-inner {
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    transition: all .4s ease-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ch-causes .cause-inner:hover {
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    transition: all .4s ease-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ch-causes .donation-inner-content {
    padding: 30px;
    background: #fff
}

.ch-causes .donation-inner-content>*:last-child {
    margin-bottom: 0
}

.ch-causes .donation-inner-content h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 20px
}

.ch-causes .donation-inner-content h3 {
    color: #363636;
    transition: .3s
}

.donation-mod-grid .donation-mod-item {
    margin-bottom: 30px
}

.ch-causes .donation-inner-content p {
    margin-bottom: 15px;
    color: #767676;
    line-height: normal
}

.sec-title.text-left {
    border-left: 5px solid;
    padding-left: 20px
}

.sec-title h2, .kc_row .sec-title h2 {
    position: relative;
    color: #292929;
    font-weight: 700;
    font-size: 42px;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 18px
}

.sec-title .desc-text {
    position: relative;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px
}

.donation-mod-one.donation-mod-grid .cause-inner {
    background: #fff;
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, .15);
    -ms-box-shadow: 0 2px 7px rgba(0, 0, 0, .15);
    -o-box-shadow: 0 2px 7px rgba(0, 0, 0, .15);
    box-shadow: 0 2px 7px rgba(0, 0, 0, .15);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transition: .4s;
    -webkit-transition: .4s
}

.donation-mod-one.donation-mod-grid .cause-inner:hover {
    -webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 12px 20px rgba(0, 0, 0, .15);
    -ms-box-shadow: 0 12px 20px rgba(0, 0, 0, .15);
    -o-box-shadow: 0 12px 20px rgba(0, 0, 0, .15);
    box-shadow: 0 12px 20px rgba(0, 0, 0, .15);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
}

.theme-feature, .theme-feature * {
    color: #fff
}

.theme-feature {
    position: relative;
    padding: 50px 30px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}

.theme-feature:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: .9;
    z-index: 1
}

.theme-feature>.theme-feature-inner {
    position: relative;
    z-index: 2;
    display: block
}

.theme-feature h3 {
    margin: 0 0 20px
}

.xt_kc_row_has_padding {
    padding: 90px 0
}

a:focus, a:hover, .ch-causes .donation-inner-content h3:hover, .sec-title-highlight {
    color: #140869 
}

.theme-feature:before {
    background-color: #140869;
    border-radius: 30px 30px 0px 0px;
}

.sec-title.text-left {
    border-color: #140869 
}

@media only screen and (max-width:768px) {
    .theme-feature {
        padding: 20px
    }
    .theme-feature h3 {
        margin-bottom: 15px
    }
    .xt_kc_row_has_padding {
        padding: 60px 0
    }
    .sec-title h2, .kc_row .sec-title h2 {
        font-size: 30px;
        line-height: 38px
    }
}

@media only screen and (max-width:420px) {
    .theme-feature {
        margin-bottom: 25px
    }
    .kc_row .kc-elm:last-child .theme-feature {
        margin-bottom: 0
    }
    .ch-causes .donation-inner-content {
        padding: 20px
    }
}

@charset "UTF-8";
/*!
 *  @name: kingcomposer.css
 *  @Copyright: (c) 2016 King-Theme
*/

*, .kc-col-container, .kc-container, .kc-elm {
    box-sizing: border-box
}

div {
    display: block
}

.kc-elm {
    float: left;
    width: 100%
}

.kc_col-sm-12 {
    width: 100%
}

.kc-container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px
}

.kc_row:not(.kc_row_inner) {
    clear: both;
    float: left;
    width: 100%
}

.kc-row-container.kc-container .kc-wrap-columns {
    margin-left: -15px;
    margin-right: -15px;
    clear: both
}

.kc_column {
    min-height: 1px;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    float: left
}

.kc_column>.kc-col-container {
    height: 100%
}

.kc-col-container {
    clear: both;
    display: block;
    width: 100%
}

@media screen and (min-width:999px) {
    .kc-row-container .kc-wrap-columns {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        flex-wrap: wrap
    }
    .kc-row-container.kc-container .kc-wrap-columns {
        width: calc(100% + 30px)
    }
}


.kc-container {
    max-width: 1170px
}


/*------------------------------------------------
*/

ul {
    padding-inline-start: 30px;
    list-style: none !important;
  }
  li {
    list-style: none !important;
  }
  .btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active {
    color: #fff
  }
  ul {
    padding-inline-start: 30px;
  }
  
  .section-space {
      padding: 80px 0 80px 0;
  }
  
  ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      
      color: #f3f3f3;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 1px;
      opacity: 1;
  }
  ::-moz-placeholder {
      /* Firefox 19+ */
      
      color: #f3f3f3;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 1px;
      opacity: 1;
  }
  :-ms-input-placeholder {
      /* IE 10+ */
      
      color: #f3f3f3;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 1px;
  }
  :-moz-placeholder {
      /* Firefox 18- */
      
      color: #f3f3f3;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 1px;
  }
  @media only screen and (min-width: 250px) and (max-width: 639px) {
      h2 {
          font-size: 24px;
          line-height: 32px;
      }
  }
  
  @charset "utf-8";
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
  }
  ::selection {
    background: rgba(4, 160, 195, 0.3);
  }
  ::-moz-selection {
    background: rgba(4, 160, 195, 0.3);
  }
  section {
    display: block
  }
  html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  input {
    font-family: -apple-system, BlinkMacSystemFont, arial, sans-serif
  }
  body {
    background-color: #DAE6F2;
    font-family: -apple-system, BlinkMacSystemFont, arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #17292e;
    margin: 0;
    min-height: 100vh;
  }
  h2,
  h5 {
    text-rendering: optimizelegibility;
    margin: 0 0 1rem;
    font-weight: bold;
  }
  h1:last-child. h2:last-child {
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.9em;
    letter-spacing: -0.005em;
  }
  h5 {
    font-size: 1.15em;
    line-height: 1.3;
    margin-bottom: 0.3rem;
  }
  a {
    color: #0f81e8;
    font-weight: bold;
  }
  p,
  ul {
    margin: 0 0 0.8em;
  }
  li {
    margin-bottom: 0.4em
  }
  p:last-child,
  ul:last-child {
    margin-bottom: 0;
  }
  ul {
    padding-left: 1em;
    margin: 0 0 1em;
  }
  ul li {
    list-style-type: disc;
    list-style-position: outside;
    margin: 0;
  }
  ul li:before {
    content: '';
    display: none;
  }
  strong {
    font-weight: bold;
  }
  input {
    background: #fff;
    border: 1px solid rgba(21, 36, 43, 0.3);
    border-radius: 2px;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.3em;
    padding: 0.6em;
    width: 100%;
    max-width: 25em;
  }
  input {
    line-height: normal
  }
  input[type="radio"] {
    box-sizing: border-box;
    display: inline-block;
    height: auto !important;
    margin: 0;
    padding: 0;
    width: auto !important;
  }
  strong {
    font-weight: bold
  }
  
  .c3_3 {
    margin-bottom: 10px;
  }
  .c3_3:last-child {
    margin-bottom: 0;
  }
  
  .bg-ltgray {
    background-color: whitesmoke;
    border-color: rgba(21, 36, 43, 0.2);
    color: #17292e;
  }
  .text-center {
    text-align: center;
  }
  .nobullet {
    padding-left: 0 !important;
  }
  .nobullet li {
    list-style-type: none;
  }
  .no-margin-bottom {
    margin-bottom: 0 !important;
  }
  .margin-bottom-small {
    margin-bottom: 0.4rem;
  }
  .hidden {
    display: none !important;
    font-size: 0;
    height: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
  }
  
  .text-large {
    font-size: 1.1em;
    line-height: 1.4;
  }
  
  /* Sections */
  .clearfix::after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
  }
  @media only screen and (max-width:720px) {
    .cm3_3 {
      display: inline;
      float: left;
      position: relative;
      margin-left: 1%;
      margin-right: 1%;
    }
    .cm3_3 {
      width: 31.333%;
    }

  }
  /* Tablet and up */
  @media only screen and (min-width:720px) {
    body {
      font-size: 17px;
    }
    h2 {
      font-size: 2.1em;
    }
    h5 {
      font-size: 1.2em;
    }
    .text-large {
      font-size: 1.2em;
      line-height: 1.5;
    }

  }
  /* Tablet Only */
  @media only screen and (min-width:720px) and (max-width:900px) {
    .ct3_3 {
      display: inline;
      float: left;
      position: relative;
      margin: 2%;
    }
    .ct3_3 {
      width: 29.333%;
    }
    .margin-bottom-small {
      margin-bottom: 0.4rem;
    }

  }
  @media only screen and (min-width:900px) {
    body {
      font-size: 18px;
    }
    /* Type - desktop */
    h2 {
      font-size: 2.2em;
    }
    h5 {
      font-size: 1.2em;
    }
    /* Utility classes - desktop*/
    .c3_3 {
      display: inline;
      float: left;
      position: relative;
      margin: 1%;
    }
    .c3_3 {
      width: 31.3%;
    }
    .margin-bottom-small {
      margin-bottom: 0.4rem;
    }
  }
  h2 {
    line-height: 1;
  }
  .input-radio-button {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    cursor: pointer;
    display: block;
    font-size: 1.3rem;
    font-weight: bold;
    height: 2em;
    padding: 1rem 0;
    margin-bottom: 0.4rem;
    text-align: center;
    white-space: nowrap;
  }
  .input-radio-button:hover {
    border-color: rgba(0, 0, 0, 0.4);
  }
  .input-radio-button:active {
    background: #0f81e8;
    border-color: rgba(0, 0, 0, 0.4);
    color: #fff;
  }
  
  body,
  input {
    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  }
  h2 {
  
    line-height: 0.9;
  }
  h2 {
    font-size: 2.28em;
  }
  a {
    color: rgb(15, 129, 233);
  }
  @media only screen and (min-width:650px) {
    h2 {
      font-size: 2.52em;
    }
  }
  @media only screen and (min-width:1023px) {
    h2 {
      font-size: 2.64em;
    }
  }
  /* Button:hover Text Color */
  /* Thick Underline */
  .bg-ltgray {
    background-color: whitesmoke;
    border-color: rgba(21, 36, 43, 0.14);
    color: #17292e;
  }